:root {
    --bg: #0d0d11;
    --bg-sec: #17161d;
    --main-color: #6c63ff;
    --text-color: #9ca3af;
    --title: #fff;
}

* {

    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}


h1 {
    color: var(--title);
    font-weight: bold;
}

a {
    color: var(--text-color);

}

a:hover {
    color: var(--main-color);

}

svg:hover {
    stroke: #6c63ff;
}

span {
    color: var(--main-color);
}

body {
    color: var(--text-color);
    font-size: 4rem;
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 0 auto;
    background: var(--bg);
}


.gradient {
    background: linear-gradient(-50deg, var(--bg), var(--bg-sec), #161A30);
    height: 100vh;
    background-size: 900% 900%;
    animation: bg_colors 7s ease-in-out infinite;
}

.gradient p {
    color: transparent;
    font-weight: 700;
    -webkit-text-stroke: 1px var(--main-color);


}

@keyframes bg_colors {
    0% {
        background-position: 0% 50%;

    }

    50% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0% 50%;
    }
}

section {
    height: 100vh;
    max-width: 960px;
}


.container {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.hero {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.hi {

    text-align: center;
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);

}

.no-stroke {
    -webkit-text-stroke: 0;
}

.txt-gd {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* background-image: linear-gradient(45deg, #ff00ff, #c11ceb, #6f19b5, #25007a); */
    /* background-image: linear-gradient(45deg, #ff00ff, #f97281, #7b589e, #171f85); */
    background-image: linear-gradient(45deg, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    background-size: 400% 400%;
    animation: grad 7s ease infinite;
}

@keyframes grad {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }

}