:root {
    --bg: #0d0d11;
    --bg-sec: #17161d;
    --main-color: #6c63ff;
    /*#6f1a8c;*/
    --text-color: #9ca3af;
    --title: #fff;
}
@font-face {
    font-family: 'Orkney Regular';
    src: local('Orkney Regular'), url('./font/orkney/orkney-regular.woff') format('woff');
    }
    

* {
    font-family: 'Orkney Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: var(--title);
    font-weight: bold;
    display: block !;
}

a:hover {
    color: var(--main-color);
}

h2 {
    text-align: center;
}

span {
    color: var(--main-color);
}

body {
    background-color: var(--bg);
    color: var(--text-color);
}


/*HEADER*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.navbar a {
    font: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    position: relative;
}
.navbar a:hover, .navbar a.active{
    color: var(--main-color);
}

.navbar a::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s all ease-out;

}
.navbar a:hover::after {
    width: 100%;
    color: var(--main-color);
}