:root {
    --bg: #0d0d11;
    --bg-sec: #17161d;
    --main-color: #6c63ff;
    --text-color: #9ca3af;
    --title: #fff;
}

* {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

@font-face {
    font-family: "Figtree";
    src: local("Figtree"),
        url("./font/Figtree-Regular.ttf") format("opentype"),
}

html {
    font-size: 62.5%;
}

h1 {
    color: var(--title);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;

}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--main-color);
}

svg:hover {
    fill: #6c63ff;
}

span {
    color: var(--main-color);
}

body {
    color: var(--text-color);
    font-size: 3rem;
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 0 auto;
}

.gradient {
    background: linear-gradient(-50deg, var(--bg), var(--bg-sec));
    height: 100vh;
    background-size: 900% 900%;
    animation: bg_colors 7s ease-in-out infinite;
}

.gradient p {
    color: transparent;
    font-weight: 700;
    -webkit-text-stroke: 1px var(--main-color);
}

@keyframes bg_colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section {
    height: 100vh;
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hi {
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
}

.no-stroke {
    -webkit-text-stroke: 0;
}

.txt-gd {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #845EC2, #6f19b5, #D65DB1, #FF6F91, #FF9671, #FFC75F);
    background-size: 400% 400%;
    animation: grad 7s ease infinite;
}

@keyframes grad {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}

.let {
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--text-color);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    bottom: 2rem;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    margin: 0 auto;
}

.contact p {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--main-color);
    padding: 7px;

}